img {
    width: 200px;
    height: 200px;
}

#container {
    width: 100%;
    background-color: #fdfdfd;
}

.row_div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    border-bottom: 2px solid black; 
}

.red {
    color: red;
}